.navbar-bg {
    background-color: #4d71d9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar-bg2 {
    background-color: #4d71d9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all .2s ease-in-out;
    animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

.nav-link-new {
    color: #000000 !important;
    font-weight: 15px;
}


#navsa {
    background-color: #4d71d9;
    line-height: 18px;
    color: #fff;
}

.navbar-brand {
    color: #fff !important;
    margin-left: 35px;
}

.navss button {
    background-color: #f0f8ff;
    color: #4d71d9;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    line-height: 8px;
}

#abt,
#pri,
#plat,
#mar {
    color: #fff; 
}
#abt,
#pri,
#plat,
#mar,#log{
    padding-left:50px;
}
#log{padding-bottom:8px;}

.navss {
    margin-left:46%;
}

.beast {
    background-color: #4d71d9;
}

.beast li a {
    color: #fff;
    text-decoration: none;
}

.beast li {
    list-style: none;
}

.beast h5 {
    color: #fff !important;
}

.footer-head {
    padding-left: 25px;
}

.realme {
    height: 350px;
    width: 350px;
}

.sec-1 h1 {
    color: #fff;
}

.sec-1 p {
    color: #fff;
}

.sec-1 {
    margin-top: 44px;
    background-image: url("../Homepage/Rectangle1.png");
    height: 465px;
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}
.sec1a{
    margin-top:-39px;
}

.trrade button {
    color: #fff;
    background-color: rgb(0, 0, 87);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

.trrade button:hover {
    color: rgb(0, 0, 87) !important;
    background-color: #f0f8ff !important;
}

 .trrade {
    padding-top: 10%;
    padding-left:8%;
} 
.trrade p{
    font-size:25px;
}

.trrade h1 {
    font-size:45px;
}

.trrade button:hover {
    background-color: #fff;
    color: #0000ff;
}

.getstar {
    color: #0000ff;
}

.cone {
    height: 40px;
    float: right;
}

.pentimg1,
.pentimg2,
.pentimg3,
.pentimg4 {
    height: 200px;
    width: 188px;
}

.uparrowimg,
.downarrowimg,
.uparrowimg2 {
    height: 60px;
}

/* .pentimg1{
    position: relative;
} */
.pent1 {
    position: relative;
}
.pent1head,.pent2head,.pent3head,.pent4head{
    font-size:20px;
}
.pent1word {
    position: absolute;
    bottom: 27%;
    color: #4d71d9;
}

.pent1word p {
    color: #000;
    font-size: 10px;
}

.uparrow {
    position: relative;
    top: 18%;
    left: -19%;
}

.pent2 {
    position: relative;
    top: 29%;
    left: -21%;
}

.pent2word {
    position: absolute;
    bottom: 26%;
    right: -1%;
    color: #4d71d9;
}

.pent2word p {
    color: #000;
    font-size: 10px;
}

.downarrow {
    position: relative;
    right: 80%;
    top: 85%;
}

.pent3 {
    position: relative;
    top: 5%;
    left: -46%;
}

.pent3word {
    position: absolute;
    bottom: 27%;
    color: #4d71d9;
}

.pent3word p {
    color: #000;
    font-size: 10px;
}

.uparrow2 {
    position: relative;
    top: 18%;
    right: 135%;

}

.pent4 {
    position: relative;
    top: 32%;
    left: -70%;
}

.pent4word p {
    color: #000;
    font-size: 10px;
}

.pent4word {
    color: #4d71d9;
    position: absolute;
    top: 28%;
}

.sect-3 {
    margin-top: 95px;
}

.magi button {
    background-color: rgb(0, 0, 87);
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

.magi button:hover {
    border: 1px solid #0000ff !important;
    color: #0000ff;
    background-color: #fff;
}

.sect-2 {
    background-image: url("../Homepage/Rectangle13.png");
    height: 425px;
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.sect-2 h1,
.sect-2 p {
    color: #fff;
}

.pinpong {
    height: 350px;
}

.cone2 {
    height: 40px;
    float: left;
}

.cirle {
    position: relative;
}

.vecc1 {
    position: absolute;
    left: 41%;
    top: 15%;
}

.cirle2 {
    position: relative;
}

.vecc2 {
    position: absolute;
    left: 44.5%;
    top: 17%;
}

.cirle3 {
    position: relative;
}

.vecc3 {
    position: absolute;
    left: 43.5%;
    top: 17.5%;
}

.par1 h6 {
    padding-top: 10px;
    color: #4d71d9;
}

.sect-3 {
    background-image: url("../Homepage/Rectangle14.png");
    height: 380px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.handmobile {
    padding-top: 35px;
    height: 350px;
    width: 350px;
}

.dddm {
    margin-top: 2%;
}

.sect-3 h1 {
    color: #fff;
}

.sect-3 p {
    color: #fff;
}

.allplat {
    padding-top: 20%;
    padding-right: 31%;
}

.cardsx {
    height: 415px;
    width: 18rem;
}

.cardsx:hover {
    background-color: #4d71d9;
    color: #fff !important;
}
.szxo{
    font-size:20px;
}

/* .cardsx h4 {
    color: #4d71d9;
}

.cardsx h4:hover {
    color: #fff;
} */

.carddimg {
    height: 415px;
}

.humahand {
    height: 350px;
}

.low {
    color: #0000ff;
}

.faqimg {
    height: 450px;
}

.faqas {
    color: #0000ff;
}

.accordion-item {
    border-radius: 4px !important;
    border: 2px solid #4d71d9 !important;
}

/* about page */


.abbtrow h1 {
    color: #00009b;
}

.tenta {
    padding-top: 5%;
}

.hhh,
.globe,
.run {
    height: 350px;
}

.glogg h1 {
    color: #00009b;
}

.cirhalf {
    height: 55px;
    transform: rotate(180deg);
}

.bggm {
    background-image: url("../Aboutpage/Rectangle34320.png");
    background-size: cover;
}

.bggm h1 {
    color: #f0f8ff;
}

.bggm p {
    color: #f0f8ff;
}

.roundd h1 {
    color: #00009b;
}

.car {
    height:440px;
    background-image: url("../Aboutpage/tfv.png");
    background-size: cover;
}

.donuu {
    width: 60% !important;
    background-color: #2727bb;
    border: 1px solid #2727bb;
    border-radius: 25px;
    color: #fff;
    padding: 25px 40px 40px 40px !important;
}

.cad1 {
    padding: 15px;
    margin-top: 80px;
}

#b1 {
    height:15px;
    width: 15px;
    border-radius: 50%;
}
#b1.active{
    margin-top: -6px;
    height:25px;
    width:25px;
    border-radius: 50%;
}

.conus {
    color: #0000ff;
}

.adds {
    background-color: #00009b;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.adds h3 {
    color: #fff;
}

.adds p {
    color: #fff;
}
.add,.mail,.num{
    margin-left:25%;
}

.mail,
.num {
    padding-top: 20px;
}

.mails {
    background-color: #4d71d9;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.mailbtnn {
    float: right;
    color: #fff !important;
    background-color: #00009b !important;
    padding-left: 15px;
    padding-right: 15px;
}

.mailbtnn:hover {
    background-color: #fff !important;
    color: #0000ff !important;
    border: 1px solid #0000ff !important;
}

.besst {
    background-image: url("../Aboutpage/ttf.png");
    background-size: cover;
    color: #f0f8ff;
}

.cone4 {
    height: 10px;
    float: left;
}

/* pricing page */

.cirhalf3{
    height:65px;
    float: right;
    position: relative;
    top: -180%;
    right:-7%;
}
.cone2i{
    height:40px;
    position: relative;
    left:-7%;
    bottom:140%;
}


.condit {
    margin-top: 3%;
    background-image: url("../Pricingpage/Rectangle12.png");
    background-size: cover;
    padding-bottom: 110px;
}

.condit h1 {
    color: #f0f8ff;
    margin-top: 5%;
}

.condit p {
    color: #f0f8ffa7;
}

.xxzz {
    margin-top: 3%;
    background-color: #00009b !important;
    color: #f0f8ff !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px !important;
}

.xxzz:hover {
    background-color: #f0f8ff !important;
    color: #00009b !important;
    border: 1px solid #00009b !important;
}

.gasas h1 {
    color: #00009b;
}

.anirudh {
    background-image: url("../Pricingpage/Rectangle34337.png");
    background-size: cover;
    color: #f0f8ff;
}

.stw {
    font-size: 35px;
}

.spp {
    font-size: 45px;
}

.taa {
    background-color: #0000ff !important;
    color: #f0f8ff !important;
    border-radius: 0px !important;
}

.taa:hover {
    color: #0000ff !important;
    background-color: #f0f8ff !important;
    border: 1px solid #0000ff !important;
}

.dee {
    background-color: #000000d6 !important;
    color: #f0f8ff !important;
    border-radius: 0px !important;
}

.dee:hover {
    color: #000000 !important;
    background-color: #f0f8ff !important;
    border: 1px solid #000 !important;

}

.ig1a {
    height: 128px;
}

.ig1cash {
    height: 88px;
}

.ig1swap {
    margin-top: 25px;
    height: 70px;
}

.ig1time {
    margin-top: 25px;
    height: 80px;
}

.card {
    width: 18rem;
    border-radius: 15px !important;
}

.card-header {
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-radius: 15px !important;
    background-color: #00009b !important;
    color: #f0f8ff !important;
}

.gtta {
    margin-top: 10px;
    background-color: #00009b !important;
    color: #f0f8ff !important;
    padding-left: 10px;
    padding-right: 10px;
}

.gtta:hover {
    color: #00009b !important;
    background-color: #f0f8ff !important;
    border: 1px solid #00009b !important;
}

.gtta1 {
    margin-top: 10px;
    background-color: #f0f8ff !important;
    color: #00009b !important;
    padding-left: 10px;
    padding-right: 10px;
}

.gtta1:hover {
    background-color: #00009b !important;
    color: #f0f8ff !important;
}

.cardtwo {
    background-color: #4d71d9 !important;
}

.cardtwo p {
    color: #f0f8ff
}

/* platform page */

.divya {
    padding-top: 8%;
}

.divya h1 {
    color: #00009b;
}

.cone6 {
    height: 55px;
    float: left;
}

.cirhalf2 {
    height: 65px;
    float: right;
    /* transform: rotate(90deg); */
}

.fa-regular {
    height: 45px;
    color: #00009b !important;
}

.grp161 {
    height: 425px;
}

.chilla {
    margin-top: 45%;
}

.maas {
    height: 520px;
    background-image: url("../Homepage/Rectangle13.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.mean {
    height: 350px;
}

.airam h2 {
    color: #4d71d9;
}

.airam button {
    background-color: #00009b;
    color: #f0f8ff;
    padding-left: 10px;
    padding-right: 10px;
}

.airam button:hover {
    background-color: #f0f8ff !important;
    color: #00009b !important;
    border: 1px solid #00009b !important;
}

.cone4a {
    height: 25px;
    float: right;
}

.cone2a {
    height: 45px;
    float: right;
    position: relative;
    right: 1%;
}

.rolex {
    background-image: url("../Homepage/Rectangle13.png");
    background-size: cover;
    height: 520px;
}

.sk {
    margin-left:45px;
    margin-top: 11%;
}

.sk h1 {
    color: #f0f8ff;
}

.sk p {
    color: #f0f8ff;
}

.post {
    margin-top: 25px;
    height: 350px;
}

.cone4a1 {
    height: 25px;
    float: right;
    position: relative;
    right: 10%;
}

.thani h1 {
    color: #00009b;
}

.adaa {
    color: #00009b;
    padding-left: 95px;
}

.bigbx {
    display: flex;
    flex-direction: row;
    padding-left: 115px !important;
}

.sm1bx {
    background-color: #4d71d9;
    color: #f0f8ff;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.sm2bx {
    background-color: #00009b;
    padding: 25px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.lap {
    margin-top: 25px;
    height: 425px;
}

.mdms {
    margin-top: 42%;
}

.cone2b {
    height: 35px;
    transform: rotate(120deg);
}

.cirhalfa {
    float: right;
    height: 50px;
}

.traa {
    color: #00009b;
}

.starr2 {
    height: 450px;
    position: relative;
}


.ponepo {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #4d71d9;
}

.ponepo h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #f0f8ff;
}

.ponepo b {
    color: #00009b;
}

.kaka {
    height: 160px;
    position: relative;
}

.boxer {
    background-color: #00009b !important;
    color: #f0f8ff !important;
}

.boxer:hover {
    color: #fff !important;
    background-color: #2727bb !important;
}

.ddss {
    width: 320px;
}

/* market page */
.megaa {
    height: 520px;
    background-image: url("../Pricingpage/Rectangle12.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.linee {
    height: 2px;
    width: 95%;
    background-color: #00009b;
}

.figoo h5 {
    color: #00009b;
}
.figoo h5:hover{
    color:#808080!important;
}
.linee:hover{
    color:#808080!important;
}
.markant:hover{
    color:#808080!important;
}
.markant2:hover{
    color:#808080 !important;
}


.jj {
    font-size: 11px;
}

.bbs {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
    margin-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
}

.bbs h3 {
    color: #00009b;
}

.fa-check {
    color: #00009b;
}

.bi {
    padding-left:45px!important;
    padding-right:45px!important;
    background-color: #4d71d9 !important;
    color: #f0f8ff !important;
}

.bi:hover {
    background-color: #f0f8ff !important;
    color: #4d71d9 !important;
    border: 1px solid #4d71d9 !important;
}

.mla {
    margin-top: 50px;
}

.mp {
    color: #00009b;
}

.vecx {
    height: 100px;
}

.ors {
    font-size:15px!important;
    background-color: #00009b !important;
    color: #f0f8ff !important;
    border-radius: 20px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.ors:hover {
    background-color: #fff !important;
    color: #00009b !important;
    border: 1px solid #00009b !important;
}

.bbsd {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

.hjj {
    color: #00009b;
}

.jd input {
    width: 370px;
}

.jd p {
    color: #00009b;
}

.jd button {
    border-radius: 20px;
    align-items: center;
    background-color: #00009b !important;
    color: #f0f8ff !important;
    padding-left: 45% !important;
    padding-right: 45% !important;
}

.jd button:hover {
    background-color: #fff !important;
    color: #00009b !important;
    border: 1px solid #00009b !important;
}

.hmg h1 {
    color: #00009b;
}

.phnn {
    height: 350px;
}

.mgm {
    font-size:20px;
    padding-top: 22%;
}

.spd {
    color: #00009b;
}

.clrrow td {
    color: #4d71d9;
}

.dill {
    background-color: #4d71d9;
}

.accd .accordion-button::after {
    background-image: url("../Homepage/plus-solid.svg");
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    fill: #4d71d9 !important;
}

.accd .accordion-button:not(.collapsed)::after {
    background-image: url("../Homepage/minus-solid.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    fill: #4d71d9 !important;

}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 100%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators .active {
    background-color: #2727bb !important;
}

.dotss {
    background-image: url("../Platformpage/Group161451.png");
    background-repeat: no-repeat;
    height: 650px;
    background-size: contain;
    position: relative;
}

.ones {
    color: #00009b;
    font-size: 50px;
    position: absolute;
    top: 5%;
    left: 56%;

}

.onesp {
    color: #f0f8ff;
    font-size: 22px;
    position: absolute;
    top: 5%;
    left:63%;
}

.twos {
    color: #4d71d9;
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 63.5%;
}
.twosp{
    color: #f0f8ff;
    font-size: 22px;
    position: absolute;
    top: 30%;
    left:71%;
}
.thirs{
    color:#00009b;
    font-size: 50px;
    position: absolute;
    top:56%;
    left: 63.5%;
}
.thirsp{
    color: #f0f8ff;
    font-size: 22px;
    position: absolute;
    top:56%;
    left:71%;
}
.fours{
    color: #4d71d9;
    font-size: 50px;
    position: absolute;
    top:81%;
    left:56%;
}
.foursp{
    color: #f0f8ff;
    font-size: 22px;
    position: absolute;
    top:81%;
    left:63%;
}
.lss{
    padding-top: 15%;
}
.mmaa,.mmaa2{
    width:80%!important;
}
.mmaa2{
   margin-left:19%;
}
.hmg1a{
    margin-top:10%!important;
}
.chilla p{
    font-size:22px;
}
.ppk{
    position: relative;
    top:12%;
    left:60%;
}
.ppk2{
    position: relative;
    top:12%;
    right:60%;
}











@media (max-width: 540px) {
    .navss {
        margin-left:1% !important;
    }

    .lss {
        margin: 0px;
        padding: 0px;
    }

    .llgs {
        margin: 0px;
        padding: 0px;
    }
    .ppk{
        position: relative;
        top:1%!important;
        left:3%!important;
    }
    .ppk2{
        position: relative;
        top:1%!important;
        right:3%!important;
    }

    /* .sec-1,.sect-2{
    background-size:cover;
 } */
    .sec-1,
    .sect-2 {
        background-position: top !important;
    }
    .mmaa2{
        margin-left: -20%;
     }

    .trrade {
        margin: 0px;
        padding: 0px;
    }

    .trrade h1 {
        font-size: 25px;
    }

    .trrade p {
        font-size: 15px;
    }

    .realme {
        margin: 0px;
        padding: 0px;
        height: 285px;
    }

    .pinpong {
        margin: 0px;
        padding: 0px;
        height: 250px;
    }

    .dddm {
        margin-top: 2%;
    }

    /* .rec-1,.rec-2,.rec-3,.rec-4,.upar,.upar2,.downar{
    width:0px;height:0px;
 } */


    .hndmob {
        align-items: center;
        align-content: center;
    }

    .handmobile {
        height: 0px;
        width: 0px;
    }

    .allplat {
        padding-top: 0px;
        padding-right: 0px;
    }

    .vecc1 {
        position: absolute;
        left: 39%;
        top: 15%;
    }

    .vecc2 {
        position: absolute;
        left: 42.5%;
        top: 15%;
    }

    .vecc3 {
        position: absolute;
        left: 41%;
        top: 15.5%;
    }

    .faqimg,
    .humahand {
        height: 255px;
    }

    .uparrowimg,
    .uparrowimg2,
    .downarrowimg {
        height: 0px;
        width: 0px;
    }

    .donuu {
        width: 100% !important;
        height: 75% !important;
    }

    .cad1 {
        margin-top: 14px;
        padding: 5px;
        height: 510px !important;
    }

    .carousel-indicators {
        position: absolute;
        top: 75%;
    }

    .spacex {
        height: 900px !important;
    }

    .pent1 {
        position: relative;
    }

    .pent1word {
        position: absolute;
        top: 28%;
        right: 28%;
        left: 30%;
    }

    .pent2 {
        position: relative;
        top: 2%;
        left: 0%;
    }

    .pent2word {
        position: absolute;
        top: 29%;
        left: 29%;
        right: 24%;
    }

    .pent3 {
        position: relative;
        top: 2%;
        left: 0%;
    }

    .pent3word {
        position: absolute;
        top: 28%;
        right: 32%;
        left: 32%;
    }

    .pent4 {
        position: relative;
        top: 2%;
        left: 0%;
    }

    .pent4word {
        position: absolute;
        top: 28%;
        right: 32%;
        left: 32%;
    }

    .condit {
        margin-top: 11% !important;
    }


    .cardsx {
        margin-bottom: 15px;
    }


    /* about page */
    .hhh,
    .globe,
    .run {
        height: 250px;
    }

    .hhh {
        margin-left: -10%;
    }

    .globerow {
        display: flex;
        flex-direction: column-reverse;
    }

    .adds,
    .mails {
        border-radius: 15px;
    }

    .mails {
        margin-top: 15px;
    }

    .cone,
    .cone2,
    .cone4,
    .cirhalf,
    .cone6,
    .cirhalf2,
    .cone4a,
    .cone2a {
        height: 0px;
        width: 0px;
    }

    .cone4a1,
    .cone2b,
    .cirhalfa,.cirhalf3,.cone2i {
        height: 0px;
        width: 0px;
    }

    /*pricing  page  */
    .gr166 {
        position: relative;
    }

    .gr168 {
        position: relative;
    }

    .nen {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    /* paltform page */
    .grp161 {
        height: 275px !important;
    }

    .mean {
        height: 200px;
    }

    .maas {
        height: 575px !important;
    }

    .ttg {
        margin-left: 25%;
    }

    .chilla {
        margin-top: 10% !important;
    }

    .megam {
        margin-top: 15px !important;
    }

    .post {
        height: 200px;
    }

    .bigbx {
        height: 110px;
        width: 90%;
        padding: 0px !important;
    }

    .mdms {
        margin-top: 35% !important;
    }

    .lap {
        height: 350px !important;
    }

    .starr2 {
        height: 170px !important;
    }

    .kaka {
        height: 0px;
        width: 0px;
    }

    /* market page */
    .bbsd {
        margin-left: 8%;
    }

    .dnt {
        display: none !important;
    }

    .dill {
        overflow-x: scroll !important;
    }

    .car p {
        font-size: 14px !important;
    }

    .dotss {
        height: 300px !important;
        position: relative !important;
    }

    .ones {
        font-size: 18px;
        color: #2727bb !important;
        position: absolute;
        left: 55%;
        top:2.5%;
    }

    .onesp {
        color: #f0f8ff;
        font-size: 7px;
        position: absolute;
        left: 63%;
        top: 3%;
    }

    .twos {
        font-size: 18px;
        color: #4d71d9 !important;
        position: absolute;
        left: 62.5%;
        top: 16.5%;
    }

    .twosp {
        color: #f0f8ff;
        font-size: 7px;
        position: absolute;
        left: 70.5%;
        top: 17.5%;
    }

    .thirs {
        font-size: 18px;
        color: #2727bb !important;
        position: absolute;
        left: 62.5%;
        top: 31.5%;
    }

    .thirsp {
        color: #f0f8ff;
        font-size: 7px;
        position: absolute;
        left: 70.5%;
        top: 31.5%;
    }

    .fours {
        font-size: 18px;
        color: #4d71d9 !important;
        position: absolute;
        left: 55%;
        top: 46%;
    }
    .foursp{
        color: #f0f8ff;
        font-size: 7px;
        position: absolute;
        left:63%;
        top: 46%;
    }



}