.navbar-bg {
    background-color: #4d71d9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar-bg2 {
    background-color: #4d71d9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all .2s ease-in-out;
    animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}


#navsa {
    background-color: #4d71d9;
    line-height: 18px;
    color: #fff;
}

.navbar-brand {
    color: #fff !important;
    margin-left: 20px;
}

.navss button {
    background-color: #f0f8ff;
    color: #4d71d9;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    line-height: 8px;
}

#abt,
#pri,
#plat,
#mar {
    color: #fff;
}

.navss {
    margin-left: 60%;
}

.beast {
    background-color: #4d71d9;
}

.beast li a {
    color: #fff;
    text-decoration: none;
}

.beast li {
    list-style: none;
}

.beast h5 {
    color: #fff !important;
}

.footer-head {
    padding-left: 25px;
}

.realme {
    height: 350px;
    width: 350px;
}

.sec-1 h1 {
    color: #fff;
}

.sec-1 p {
    color: #fff;
}

.sec-1 {
    background-image: url("../Homepage/Rectangle1.png");
    height: 475px;
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.trrade button {
    color: #fff;
    background-color: rgb(0, 0, 87);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

.trrade {
    padding-top: 10%;
    padding-left: 38%;
}

.trrade h1 {
    font-size: 45px;
}

.trrade button:hover {
    background-color: #fff;
    color: #0000ff;
}

.getstar {
    color: #0000ff;
}

.cone {
    height: 40px;
    float: right;
}

.pentimg1,
.pentimg2,
.pentimg3,
.pentimg4 {
    height: 200px;
    width: 188px;
}

.uparrowimg,
.downarrowimg,
.uparrowimg2 {
    height: 60px;
}

/* .pentimg1{
    position: relative;
} */
.pent1 {
    position: relative;
}

.pent1word {
    position: absolute;
    bottom: 27%;
    color: #4d71d9;
}

.pent1word p {
    font-size: 10px;
}

.uparrow {
    position: relative;
    top: 18%;
    left: -19%;
}

.pent2 {
    position: relative;
    top: 29%;
    left: -21%;
}

.pent2word {
    position: absolute;
    bottom: 26%;
    right: -1%;
    color: #4d71d9;
}

.pent2word p {
    font-size: 10px;
}

.downarrow {
    position: relative;
    right: 80%;
    top: 85%;
}

.pent3 {
    position: relative;
    top: 5%;
    left: -46%;
}

.pent3word {
    position: absolute;
    bottom: 27%;
    color: #4d71d9;
}

.pent3word p {
    font-size: 10px;
}

.uparrow2 {
    position: relative;
    top: 18%;
    right: 135%;

}

.pent4 {
    position: relative;
    top: 32%;
    left: -70%;
}

.pent4word p {
    font-size: 10px;
}

.pent4word {
    color: #4d71d9;
    position: absolute;
    top: 28%;
}

.magi button {
    background-color: rgb(0, 0, 87);
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

.magi button:hover {
    color: #0000ff;
    background-color: #fff;
}

.sect-2 {
    background-image: url("../Homepage/Rectangle13.png");
    height: 425px;
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.sect-2 h1,
.sect-2 p {
    color: #fff;
}

.pinpong {
    height: 350px;
}

.cone2 {
    height: 40px;
    float: left;
}

.cirle {
    position: relative;
}

.vecc1 {
    position: absolute;
    left: 41%;
    top: 18%;
}

.cirle2 {
    position: relative;
}

.vecc2 {
    position: absolute;
    left: 44.5%;
    top: 20%;
}

.cirle3 {
    position: relative;
}

.vecc3 {
    position: absolute;
    left: 43.5%;
    top: 22%;
}

.par1 h6 {
    color: #4d71d9;
}

.sect-3 {
    background-image: url("../Homepage/Rectangle14.png");
    height: 380px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.handmobile {
    padding-top: 35px;
    height: 350px;
    width: 350px;
}

.sect-3 h1 {
    color: #fff;
}

.sect-3 p {
    color: #fff;
}

.allplat {
    padding-top: 20%;
    padding-right: 31%;
}

.cardsx {
    height: 415px;
    width: 18rem;
}

.cardsx:hover {
    background-color: #4d71d9;
    color: #fff !important;
}

.cardsx h4 {
    color: #4d71d9;
}

.cardsx h4:hover {
    color: #fff;
}

.carddimg {
    height: 415px;
}

.humahand {
    height: 350px;
}

.low {
    color: #0000ff;
}

.faqimg {
    height: 450px;
}

.faqas {
    color: #0000ff;
}

.accordion-item {
    border-radius: 4px !important;
    border: 2px solid #4d71d9 !important;
}

/* about page */

.abbtrow h1 {
    color: #00009b;
}

.tenta {
    padding-top: 5%;
}

.hhh,
.globe,
.run {
    height: 350px;
}

.glogg h1 {
    color: #00009b;
}

.cirhalf {
    height: 55px;
    transform: rotate(180deg);
}

.bggm {
    background-image: url("../Aboutpage/Rectangle34320.png");
    background-size: cover;
}

.bggm h1 {
    color: #f0f8ff;
}

.bggm p {
    color: #f0f8ff;
}

.roundd h1 {
    color: #00009b;
}

.car {
    height: 400px;
    background-image: url("../Aboutpage/tfv.png");
    background-size: cover;
}

.cad1 {
    margin-top: 80px;
    width: 60%;
    background-color: #0000ff;
    border: 1px solid #0000ff;
    border-radius: 10px;
}

#b1 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.conus {
    color: #0000ff;
}

.adds {
    background-color: #00009b;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.adds h3 {
    color: #fff;
}

.adds p {
    color: #fff;
}

.mail,
.num {
    padding-top: 20px;
}

.mails {
    background-color: #4d71d9;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.mailbtnn {
    float: right;
    color: #fff !important;
    background-color: #00009b !important;
    padding-left: 15px;
    padding-right: 15px;
}

.besst {
    background-image: url("../Aboutpage/ttf.png");
    background-size: cover;
    color: #f0f8ff;
}

.cone4 {
    height: 10px;
    float: left;
}

/* pricing page */

.condit {
    background-image: url("../Pricingpage/Rectangle12.png");
    background-size: cover;
    padding-bottom: 110px;
}

.condit h1 {
    color: #f0f8ff;
    margin-top: 5%;
}

.condit p {
    color: #f0f8ffa7;
}

.xxzz {
    margin-top: 3%;
    background-color: #00009b !important;
    color: #f0f8ff !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px !important;
}

.gasas h1 {
    color: #00009b;
}

.gr166 {
    height: 510px;
    position: relative;
}

.pmindia {
    position: absolute;
    top: 125%;
    left: 10%;
}

.pmindia h1 {
    color: #f0f8ff;
}

.pmindia h3 {
    color: #000000;
}

.gts {
    margin-top: 10px;
    background-color: #00009b !important;
    color: #f0f8ff !important;
    padding-left: 10px;
    padding-right: 10px;
}

.gr168 {
    height: 510px;
    position: relative;
}

.pmindia2 {
    position: absolute;
    left: 43%;
    /* bottom: -110%; */
    top: 124%;
}

.pmindia2 h1 {
    color: #f0f8ff;
}

.pmindia2 h3 {
    color: #f0f8ff;
}

.gts2 {
    margin-top: 10px;
    background-color: #f0f8ff !important;
    color: #00009b !important;
    padding-left: 10px;
    padding-right: 10px;
}

.pmindia3 {
    position: absolute;
    top: 125%;
    left: 77%;
}

.pmindia3 h1 {
    color: #f0f8ff;
}

.anirudh {
    background-image: url("../Pricingpage/Rectangle34337.png");
    background-size: cover;
    color: #f0f8ff;
}

.stw {
    font-size: 35px;
}

.spp {
    font-size: 45px;
}

.taa {
    background-color: #0000ff !important;
    color: #f0f8ff !important;
    border-radius: 0px !important;
}

.dee {
    background-color: #000000d6 !important;
    color: #f0f8ff !important;
    border-radius: 0px !important;
}

/* platform page */

.divya {
    padding-top: 8%;
}

.divya h1 {
    color: #00009b;
}

.cone6 {
    height: 55px;
    float: left;
}

.cirhalf2 {
    height: 65px;
    float: right;
    /* transform: rotate(90deg); */
}






@media (max-width: 540px) {
    .lss {
        margin: 0px;
        padding: 0px;
    }

    .llgs {
        margin: 0px;
        padding: 0px;
    }

    /* .sec-1,.sect-2{
    background-size:cover;
 } */
    .trrade {
        margin: 0px;
        padding: 0px;
    }

    .trrade h1 {
        font-size: 25px;
    }

    .trrade p {
        font-size: 15px;
    }

    .realme {
        margin: 0px;
        padding: 0px;
        height: 250px;
    }

    .pinpong {
        margin: 0px;
        padding: 0px;
        height: 250px;
    }

    /* .rec-1,.rec-2,.rec-3,.rec-4,.upar,.upar2,.downar{
    width:0px;height:0px;
 } */
    .sect-3 {
        background-size: auto;
    }

    .hndmob {
        align-items: center;
        align-content: center;
    }

    .handmobile {
        height: 250px;
    }

    .vecc1 {
        position: absolute;
        left: 39%;
        top: 17%;
    }

    .vecc2 {
        position: absolute;
        left: 42.5%;
        top: 18%;
    }

    .vecc3 {
        position: absolute;
        left: 41%;
        top: 18%;
    }

    .faqimg,
    .humahand {
        height: 255px;
    }

    .uparrowimg,
    .uparrowimg2,
    .downarrowimg {
        height: 0px;
        width: 0px;
    }

    .spacex {
        height:900px !important;
    }

    .pent1 {
        position: relative;
    }

    .pent1word {
        position: absolute;
        top: 28%;
        right: 28%;
        left: 30%;
    }

    .pent2 {
        position: relative;
        top: 2%;
        left: 0%;
    }

    .pent2word {
        position: absolute;
        top: 29%;
        left: 29%;
        right: 24%;
    }

    .pent3 {
        position: relative;
        top: 2%;
        left: 0%;
    }

    .pent3word {
        position: absolute;
        top: 28%;
        right: 32%;
        left: 32%;
    }
    .pent4{
        position: relative;
        top: 2%;
        left: 0%;
    }
    .pent4word{
        position: absolute;
        top: 28%;
        right: 32%;
        left: 32%;
    }


    .cardsx {
        margin-bottom: 15px;
    }


    /* about page */
    .hhh,
    .globe,
    .run {
        height: 250px;
    }

    .hhh {
        margin-left: -10%;
    }

    .globerow {
        display: flex;
        flex-direction: column-reverse;
    }

    .adds,
    .mails {
        border-radius: 15px;
    }

    .mails {
        margin-top: 15px;
    }

    .cone,
    .cone2,
    .cone4,
    .cirhalf,
    .cone6,
    .cirhalf2 {
        height: 0px;
        width: 0px;
    }

    /*pricing  page  */
    .gr166 {
        position: relative;
    }

    .gr168 {
        position: relative;
    }

    .pmindia {
        position: absolute;
        top: 73%;
        left: 27%;
    }

    .pmindia2 {
        margin-top: 10px;
        position: absolute;
        top: 147%;
        left: 31%;
    }

    .pmindia3 {
        position: absolute;
        top: 226%;
        left: 28%;
    }


    /* paltform page */
}